/* ********************************* STYLES ********************************* */

/* font-family: 'Anonymous Pro', monospace; */
/* font-family: 'Open Sans', sans-serif; */










/* ********************************** GLOBAL ******************************** */
body {
  font-family: 'Open Sans', sans-serif;
}

.container-fluid {
  padding: 7% 15%;
  text-align: center;
}







/* ****************************** LANDING PAGE ****************************** */

#landing-page .container-fluid {
  padding: 34% 15% 5%;
}

.lightbulb {
  position: absolute;
  z-index: -1;
  text-align: center;
}

.lightbulb img {
  width: 60%;
}

.title-text h1 {
  font-family: 'Anonymous Pro', monospace;
  font-size: 4rem;
  margin: 0;
}

.title-text p {
  color: #f8b500;
  text-transform: uppercase;
  font-size: 1.25rem;
}

.title-socials {
  position: fixed;
  z-index: 1;
  right: 3%;
  top: 27%;
  /* text-align: right; */
}

.title-socials ul {
  list-style-type: none;
}

.title-socials ul li {
}

.socials-icon {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 100%;
  background-color: #34313a;
  margin: 1rem 1%;
}

.socials-icon:hover {
  background-color: #f8b500;
}

.socials-icon i {
  color: #ffffff;
}

.title-text {
  /* padding: 15% auto; */

}










/* ***************************** GLOBAL STYLES ****************************** */
