/* ********************************* STYLES ********************************* */

/* font-family: 'Anonymous Pro', monospace; */
/* font-family: 'Open Sans', sans-serif; */


/* https://colorhunt.co/palette/124846 */
/* #f7f7f7 */
/* #393e46 */
/* #5c636e */
/* #f8b500 */

/* https://colorhunt.co/palette/130172 */
/* #343434 */
/* #e6b31e */
/* #fcfaf1 */
/* #cacaca */





/* ********************************** GLOBAL ******************************** */
body {
  font-family: 'Open Sans', sans-serif;
  color: #34313a;
}

.container-fluid {
  padding: 7% 15%;
  text-align: center;
}




/* ****************************** LANDING PAGE ****************************** */

#landing-page .container-fluid {
  padding: 34% 15% 5%;
}

.sidenav {
  position: fixed;
  z-index: 1;
  left: 3%;
  top: 27%;

}

.sidenav a {
  display: block;
  margin: 1rem 1%;
  color: #34313a;
}

.lightbulb {
  position: absolute;
  z-index: -1;
  text-align: center;
}

.lightbulb img {
  width: 60%;
}

.bulb-frame {
  position: absolute;
  height: 30rem;
  width: 19%;
  border: 4px solid #34313a;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
}


.title-text {
  font-family: 'Anonymous Pro', monospace;
}

.title-text h1 {
  font-size: 4rem;
  margin: 0;
}

.title-text p {
  color: #f8b500;
  text-transform: uppercase;
  font-size: 1rem;
  font-family: 'Open Sans', sans-serif;
}

.title-text button {
  border-radius: 0;
  padding: 1% 5%;
}

.title-socials {
  position: fixed;
  z-index: 1;
  right: 3%;
  top: 27%;
  /* text-align: right; */
}

.title-socials ul {
  list-style-type: none;
}

.socials-icon {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 100%;
  background-color: #34313a;
  margin: 1rem 1%;
}

.socials-icon:hover {
  background-color: #f8b500;
}

.socials-icon i {
  color: #ffffff;
}


@media (max-width: 1024px) {
  .bulb-frame {
    height: 22rem;
    top: 1%;
    transform: translate(-50%, 3%);
  }

  .sidenav, .title-socials {
    top: 8%;
  }
}

@media (max-width: 736px) {

  .lightbulb img {
    width: 100%;
  }

  #landing-page .container-fluid {
    padding: 24% 10% 5%;
  }

  .title-text h1 {
    font-size: 7.5rem;
  }

  .title-text p {
    font-size: 2rem;
    margin-bottom: 8rem;
  }

  .title-text button {
    font-size: 2.25rem;
  }
}


/* ***************************** GLOBAL STYLES ****************************** */

#about-me {
  background-color: #f7f7f7;
}
